.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.Login-form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
}
.Competitions-and-Matches{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aqua;
  width: 500px;
  height: 100px;
  margin-left: 30%;
}
.Competitions{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 50%;
}
.Matches{
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: chartreuse;
}
.Competition-Match-name{
  margin-left: 20%;
  color:black;
  font-style: oblique;
  font-size: large;
}
.Competition-Match-date{
  margin-left: 20%;
  color:grey;
  font-style: italic;
  font-size: medium;
  text-shadow: black;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
